* {
  margin: 0;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border-radius: 50px;
  margin: 5px;
}

/* HEADER.JS */
nav {
  background-color: #333;
  padding-bottom: 20px;
}

nav ul li {
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
}

nav ul li a {
  text-decoration: underline;
  color: white;
}

/* HOME.JS */
.home {
  font-size: 30px;
  font-weight: bold;
}

/* MOVIES.JS */
.movies {
  background-color: #333;
  color: white;
}

.search {
  padding-bottom: 15px;
}

#searchBar,
#yearBar {
  border-radius: 10px;
}

button {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: darkgreen;
}

/* REGISTER.JS */
.register {
  background-color: #333;
  color: white;
}

/* FOOTER.JS */
.footer {
  background-color: #333;
  color: white;
}

/* table */
.mainTable {
  font-family: Arial, sans-serif;

  background-color: #333;
  color: white;

  border: none;

  padding: 10px;
  margin: 0;
}

.ag-header-cell-label {
  font-size: 18px;
  font-weight: bolder;
  justify-content: center;
}

.mainTable .ag-cell {
  border-bottom: 1px solid white;
}

.ag-cell {
  font-size: 14px;
}

.mainTable .ag-pinned-left-cols-container {
  font-weight: bold;
}
